:root {
    --primary-text-color:#757575;
    --title-text-color: #212121;
    --color-accent: #2196F3;
    --color-fon: #2F303A;
    --primary-bg-color: #FFFFFF;
    }

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.colortext {
    color:var(--color-accent);
}
.logo {
    color: var(--title-text-color);
}
/* .site-nav .link {
    color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color:#2196F3;
}
.adr-nav {
    color: #757575;
}
.adr-nav:hover,
.adr-nav:focus {
    color:#2196F3;
} */
/* herro */
.hero {
    background-color: var(--color-fon);
}
.hero-title {
    color: #FFFFFF;
}

/* button */
.button {
    color: #FFFFFF;
    background-color: var(--color-accent);
}

/* title */
.section-title {
    color: var(--title-text-color);
}

/* link */
 .link {
    color: var(--title-text-color);
 }
.link:hover,
.link:focus {
    color: var(--color-accent);
}

.adr-link {
    color: var(--primary-text-color);
 }
.adr-link:hover,
.adr-link:focus {
    color: var(--color-accent);
}


     


/* Цвета шрифтов */
/* color: #2196F3; 
color: #212121;
color: #FFFFFF;
color: #757575;*/



/*WebStudio
 font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height 
letter-spacing: 0.03em;*/

