:root {
    --primary-text-color:#757575;
    --title-text-color: #212121;
    --color-accent: #2196F3;
    --color-fon: #2F303A;
    --white-color: #FFFFFF;
    --secondary-bg-color: #F5F4FA;
    }

body {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family:Roboto, sans-serif;
}

/* logo */
.colortext {
    color:var(--color-accent);
}
.logo {
    color: var(--title-text-color);
}

.footer.logo {
    color: var(--white-color);
}

/* herro */
.hero {
    background-color: var(--color-fon);
}
.hero-title {
    color: var(--white-color);
}

/* button */
.button {
    color: var(--white-color);
    background-color: var(--color-accent);
}
.button.primary {
    color: var(--white-color);
    background-color: var(--color-accent);
}

/* button portfolio */
.button.secondary {
    color: var(--title-text-color);
    background-color: var(--secondary-bg-color);
}
.button.secondary:hover,
.button.secondary:focus {
    color: var(--white-color);
    background-color: var(--color-accent);
}

/* title */
.section-title {
    color: var(--title-text-color);
}

/* link */
 .link {
    color: var(--title-text-color);
 }
.link:hover,
.link:focus {
    color: var(--color-accent);
}

.footer-link {
    color: var(--white-color);
}

.site-nav .link.current {
    color: var(--color-accent);
}

.adr-link {
    color: var(--primary-text-color);
 }
.adr-link:hover,
.adr-link:focus {
    color: var(--color-accent);
}

p {
    color: var(--primary-text-color);
}

/* footer */
footer {
    color: var(--white-color);
    background-color: var(--color-fon);
}


     


/* Цвета шрифтов */
/* color: #2196F3; 
color: #212121;
color: #FFFFFF;
color: #757575;*/



/*WebStudio
 font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height 
letter-spacing: 0.03em;*/

