:root {
    --color-accent: #2196F3;
    --color-fon: #2F303A;
}

body {
    background-color: #FFFFFF;
    color: #757575;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.colortext {
    color:#2196F3;
}
.logo {
    color: #212121;
}
.site-nav.link {
    color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color:#2196F3;
}
.adr-nav {
    color: #757575;
}
.adr-nav:hover,
.adr-nav:focus {
    color:#2196F3;
}
.hero {
    background-color: var(--color-fon);
}
.hero-title {
    color: #FFFFFF;
}

.section-title {
    color: #212121;
}



/* Цвета шрифтов */
/* color: #2196F3; 
color: #212121;
color: #FFFFFF;
color: #757575;*/



/*WebStudio
 font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height 
letter-spacing: 0.03em;*/

